<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <description>
        Servlet and JSP Examples.
    </description>
    <display-name>Faramanshawy's Adder</display-name>

    <servlet>
        <servlet-name>AdderServlet</servlet-name>
        <servlet-class>AdderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdderServlet</servlet-name>
        <url-pattern>/AdderServlet/Adder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepositMoneyServlet</servlet-name>
        <servlet-class>DepositMoneyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositMoneyServlet</servlet-name>
        <url-pattern>/Deposit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WithdrawMoneyServlet</servlet-name>
        <servlet-class>WithdrawMoneyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithdrawMoneyServlet</servlet-name>
        <url-pattern>/Withdraw</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewSummaryServlet</servlet-name>
        <servlet-class>ViewSummaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewSummaryServlet</servlet-name>
        <url-pattern>/Summary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewAccountServlet</servlet-name>
        <servlet-class>NewAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewAccountServlet</servlet-name>
        <url-pattern>/NewAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransferMoneyServlet</servlet-name>
        <servlet-class>TransferMoneyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferMoneyServlet</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>

</web-app>